:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #7f7f7f;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0.5px;
	display: flex;
	height: 99vh;
	justify-content: center;
	place-items: center;
}

h1 {
	font-size: 5vw;
	line-height: 1.1;
}

h2 {
	font-size: 3vw;
	line-height: 1.1;
}
